a:hover {
	text-decoration: none !important;
	color: black !important;
	cursor: pointer !important;
}

p {
	margin: 0 !important;
}

img {
	/* height: 120vh; */
	width: 100%;
	object-fit: cover;
	/* padding: 1.5% 2% 0 2%; */
	/* padding: 1.5% 0; */
}

.header {
	font-size: 6vh;
	font-weight: 700;
	padding: 3.5% 3% 0% 3%;
}
.picture {
	height: 87vh;

	padding: 1.5% 2% 0 2% !important;
}

.carousel-control-next,
.carousel-control-prev {
	width: 10% !important;
}

.App {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.navBar {
	background-color: white;
	padding: 1.5% 2% 1.25% 2%;
	height: 20%;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 2.3vh; /* 2.26vh ~ 22px on MBP 13 2018 */
	text-decoration: none;
	letter-spacing: 4px;
	color: black;
	display: block; /* This is a single line */
}

.navLink {
	font-size: 1.4vh;
	display: flex;
	justify-content: space-around;
	margin: 15px 33% 0px 33%;
	flex-wrap: wrap;
}

.navLink a {
	color: #a0a0a0;
}

.footer {
	margin-top: 1.5%;
	font-family: "Nunito", sans-serif;
	letter-spacing: 0.8px;
	background-color: #f5f5f5;
	font-weight: 500;
	padding: 1.75% 2% 2% 2%;
	text-decoration: none;
}

.footer a {
	color: black !important;
	text-decoration: none;
}

.fContainer {
	margin: auto;
	width: 15%;
	padding-bottom: 1%;
}

.icons {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
}

.icons img {
	padding: 0% !important;
	width: 35% !important;
	/* height: 10% !important; */
}
.subheader {
	letter-spacing: 0.5px !important;
	margin-top: 0.7%;
	font-size: 1.2vh;
}

.nunitor {
	font-family: "Nunito", sans-serif;
}

.fahkwang {
	font-family: "Fahkwang", sans-serif;
}

.selected {
	color: black !important;
	text-decoration: underline !important;
}
