a:hover {
	text-decoration: none !important;
	color: black !important;
	cursor: pointer !important;
}

p {
	margin: 0 !important;
}

img {
	/* height: 120vh; */
	width: 100%;
	object-fit: cover;
	/* padding: 1.5% 2% 0 2%; */
	/* padding: 1.5% 0; */
}

.header {
	font-size: 3rem;
	font-weight: 700;
	padding: 3.5% 3% 0% 3%;
}
.picture {
	height: 87vh;

	padding: 1.5% 2% 0 2% !important;
}

.carousel-control-next,
.carousel-control-prev {
	width: 10% !important;
}

.App {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.navBar {
	background-color: white;
	padding: 1.5% 2% 1.25% 2%;
	height: 20%;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 1.4rem; /* 2.26vh ~ 22px on MBP 13 2018 */
	text-decoration: none;
	letter-spacing: 4px;
	color: black;
	display: block; /* This is a single line */
}

.navLink {
	font-size: 1.4vh;
	display: flex;
	justify-content: space-around;
	margin: 15px 33% 0px 33%;
	flex-wrap: wrap;
}

.navLink a {
	color: #a0a0a0;
}

.footer {
	margin-top: 1.5%;
	font-family: "Nunito", sans-serif;
	letter-spacing: 0.8px;
	/* background-color: #f5f5f5; */
	font-weight: 500;
	padding: 1.75% 2% 2% 2%;
	text-decoration: none;
}

.footer a {
	color: black !important;
	text-decoration: none;
}

.fContainer {
	margin: auto;
	width: 15%;
	padding-bottom: 1%;
}

.icons {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
}

.icons img {
	filter: brightness(0%);
	padding: 0% !important;
	width: 1.75rem !important;
}
.subheader {
	letter-spacing: 0.5px !important;
	margin-top: 0.7%;
	font-size: 1.2vh;
}

.nunitor {
	font-family: "Nunito", sans-serif;
}

.fahkwang {
	font-family: "Fahkwang", sans-serif;
}

.selected {
	color: black !important;
	text-decoration: underline !important;
}

/* narrow desktop */
@media screen and (max-width: 1700px) {
	.navLink {
		margin: 15px 20% 0 20%;
	}
}

/* tablet */
@media screen and (max-width: 1366px) {
	.navLink {
		margin: 15px 15% 0 15%;
	}

	.picture {
		height: 80vh;
	}

	.horizontal img {
		height: 70vh !important;
	}

	.vertical img {
		height: 90vh !important;
	}

	.horizontal .i-desc {
		width: 75% !important;
	}
}

/* small tablet */
@media screen and (max-width: 1024px) {
	.navLink {
		margin: 15px 15% 0 15%;
	}

	.desc {
		width: 100% !important;
		padding-right: 8%;
	}

	.picture {
		height: 85vh;
	}

	.horizontal img {
		height: 50vh !important;
	}

	.vertical img {
		height: 70vh !important;
	}

	.horizontal .i-desc {
		width: 75% !important;
	}
}

/* mobile */
@media screen and (max-width: 700px) {
	h1 {
		padding: 15% 0 !important;
		padding-bottom: 12% !important;
	}
	.navBar {
		padding: 7.5% 2% 1.25% 2%;
	}
	.navLink {
		margin: 25px 5% 15px 5% !important;
	}

	.picture {
		height: 30vh;
	}

	.home {
		height: 60vh;
	}
	.fContainer {
		margin: auto;
		width: 50%;
		padding: 7.5% 2%;
	}

	.subheader {
		margin: 5%;
		/* margin-top: 2.5%; */
	}

	.horizontal img {
		height: 30vh !important;
	}

	.vertical img {
		height: 70vh !important;
	}

	.horizontal .i-desc {
		width: 100% !important;
	}
}
